# CMake
debug/
release/

# Directory Files:
.DS_Store

# Visual Studio:
.vs/
out/

# Windows CMake
CMakeSettings.json
SFMLConfig.cmake
SFMLConfigDependencies.cmake
SFMLConfigVersion.cmake
SFMLSharedTargets-debug.cmake
SFMLSharedTargets-release.cmake
SFMLSharedTargets.cmake
SFMLStaticTargets-debug.cmake
SFMLStaticTargets-release.cmake
SFMLStaticTargets.cmake
Windows_CMake_Files/